{{ ansible_managed | comment }}

[Unit]
Description=Podman container service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target mosquitto.service
After=network-online.target mosquitto.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStart=/usr/bin/podman run \
	--replace \
	--detach \
	--tty \
	--publish 80:80 \
	--network=host\
	printer:latest
ExecStop=/usr/bin/podman stop \
ExecStopPost=/usr/bin/podman rm \
	--force \
	--ignore -t 10 \
	--cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
